<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

<head>
    <meta charset="UTF-8" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <style>
        .widget {
            position: relative;
            margin-bottom: 40px;
            padding: 20px 20px;
            background: rgba(0, 0, 0, 0.24);
            color: rgba(244, 244, 245, 0.6);
            border-radius: .625rem;
            box-shadow: 0 25px 20px -20px rgb(0 0 0 / 10%), 0 0 15px rgb(0 0 0 / 6%);
        }
        
        body {
            background: radial-gradient(farthest-side ellipse at 10% 0, #333867 20%, #17193b);
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            font-family: Open Sans, sans-serif;
            color: rgba(244, 244, 245, 0.901961);
        }
    </style>
</head>

<body>
    <section class="widget">
        <header>
            <h6>Calendar</h6>
            <div class="widget-controls">
                <a href="#"><i class="la la-cog text-white"></i></a>
                <a href="#" data-widgster="close"><i class="la la-remove text-white"></i></a>
            </div>
        </header>
        <div class="widget-body p-0">
            <div id="events-calendar">
                <div class="calendar" id="cal_kz5">
                    <table class="table header">
                        <tbody>
                            <tr></tr>
                        </tbody>
                        <td><i class="icon-arrow-left fa fa-arrow-left"></i></td>
                        <td colspan="5" class="year span6">
                            <div class="visualmonthyear">December 2021</div>
                        </td>
                        <td><i class="icon-arrow-right fa fa-arrow-right"></i></td>
                    </table>
                    <table class="daysmonth table table">
                        <tbody>
                            <tr class="week_days">
                                <td class="first">S</td>
                                <td>M</td>
                                <td>T</td>
                                <td>W</td>
                                <td>T</td>
                                <td>F</td>
                                <td class="last">S</td>
                            </tr>
                            <tr>
                                <td class="invalid first"></td>
                                <td class="invalid"></td>
                                <td class="invalid"></td>
                                <td id="cal_kz5_1_12_2021"><a>1</a></td>
                                <td id="cal_kz5_2_12_2021" class="event event_popover" style="background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><a data-original-title="The flower bed" data-trigger="manual" class="manual_popover" rel="popover" data-content="Contents here">2<span style="background-color: rgb(24, 112, 220);"></span></a></td>
                                <td id="cal_kz5_3_12_2021"><a>3</a></td>
                                <td id="cal_kz5_4_12_2021" class="last"><a>4</a></td>
                            </tr>
                            <tr>
                                <td id="cal_kz5_5_12_2021" class="first event event_popover" style="background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><a data-original-title="Stop world water pollution" data-trigger="manual" class="manual_popover" rel="popover" data-content="Have a kick off meeting with .inc company">5<span style="background-color: rgb(202, 133, 0);"></span></a></td>
                                <td id="cal_kz5_6_12_2021"><a>6</a></td>
                                <td id="cal_kz5_7_12_2021"><a>7</a></td>
                                <td id="cal_kz5_8_12_2021"><a>8</a></td>
                                <td id="cal_kz5_9_12_2021"><a>9</a></td>
                                <td id="cal_kz5_10_12_2021"><a>10</a></td>
                                <td id="cal_kz5_11_12_2021" class="last"><a>11</a></td>
                            </tr>
                            <tr>
                                <td id="cal_kz5_12_12_2021" class="first"><a>12</a></td>
                                <td id="cal_kz5_13_12_2021"><a>13</a></td>
                                <td id="cal_kz5_14_12_2021"><a>14</a></td>
                                <td id="cal_kz5_15_12_2021"><a>15</a></td>
                                <td id="cal_kz5_16_12_2021"><a>16</a></td>
                                <td id="cal_kz5_17_12_2021"><a>17</a></td>
                                <td id="cal_kz5_18_12_2021" class="last event event_popover" style="background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><a data-original-title="Light Blue 2.2 release" data-trigger="manual" class="manual_popover" rel="popover" data-content="Some contents here">18<span style="background-color: rgb(88, 215, 119);"></span></a></td>
                            </tr>
                            <tr>
                                <td id="cal_kz5_19_12_2021" class="first"><a>19</a></td>
                                <td id="cal_kz5_20_12_2021"><a>20</a></td>
                                <td id="cal_kz5_21_12_2021"><a>21</a></td>
                                <td id="cal_kz5_22_12_2021"><a>22</a></td>
                                <td id="cal_kz5_23_12_2021"><a>23</a></td>
                                <td id="cal_kz5_24_12_2021"><a>24</a></td>
                                <td id="cal_kz5_25_12_2021" class="last"><a>25</a></td>
                            </tr>
                            <tr>
                                <td id="cal_kz5_26_12_2021" class="first"><a>26</a></td>
                                <td id="cal_kz5_27_12_2021"><a>27</a></td>
                                <td id="cal_kz5_28_12_2021"><a>28</a></td>
                                <td id="cal_kz5_29_12_2021" class="event event_tooltip" style="background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><a data-original-title="A link" href="http://www.flatlogic.com" rel="tooltip">29<span style="background-color: rgb(253, 95, 0);"></span></a></td>
                                <td id="cal_kz5_30_12_2021"><a>30</a></td>
                                <td id="cal_kz5_31_12_2021"><a>31</a></td>
                                <td class="invalid last"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <script>
        /*
         * bootstrap-calendar v0.1
         * Copyright (C) 2013 Fat Panda, LLC.
         * MIT Licensed.
         */
        ! function($, B, ns) {

            'use strict';

            var $window = $(window),
                $body = $('body'),
                prototypes = {};

            window.console = window.console || {
                log: function() {},
                error: function() {}
            };

            prototypes[ns] = function($el, options) {
                this.$el = $el;
                this.init(options);
            };

            var DateCollection = Backbone.Collection.extend({

            });

            var CalendarView = Backbone.View.extend({

                initialize: function() {
                    this.collection = new DateCollection();
                },

                render: function() {
                    return this;
                }

            });

            prototypes[ns].prototype = {

                init: function(options) {
                    this.$el.hide();
                    this.$el.after(this.$cal = $('<div class="bootstrap-calendar-coontainer"></div>'));
                    for (var i = 0; i < 6; i++) {
                        this.$cal.append('<div class="month-row"><table class="week"></table><table class="grid"></table></div>');
                    }
                    this.$view = new CalendarView({
                        el: this.$cal
                    }).render();
                }

            };

            $.fn[ns] = function(fn /*, ... */ ) {
                var args = Array.prototype.slice.apply(arguments);
                return this.each(function(i, el) {
                    var $el = $(el),
                        obj = $el.data(ns);
                    if (!obj) {
                        $el.data(ns, obj = new prototypes[ns]($el, typeof fn !== "string" ? fn : {}));
                    }
                    if (typeof fn === "string") {
                        obj[fn].apply(obj, args.slice(1));
                    }
                });
            };

            $('[data-ui="' + ns + '"]').each(function() {
                $(this)[ns]();
            });

            /*
            $.valHooks['textarea'] = {
              set: function(el, val) {
                var $el = $(el);
                if ($el.data(ns)) {
                  $el.data(ns).val(val);
                } else {
                  el.value = val;
                }
              },
              get: function(el) {
                var $el = $(el);
                if ($el.data(ns)) {
                  return $el.data(ns).val();
                } else {
                  return el.value;
                }
              }
            };
            */

        }(jQuery, Backbone, 'calendar');
    </script>
</body>

</html>